<html>

<head>
	<link rel="stylesheet" href="https://scratch.mit.edu/common.css" </link>
	<link rel="stylesheet" href="/static/a.css" </link>
	<title>Home | ScratchBrowser</title>
</head>

<body>
	<a href="https://scratchbrowser.28klotlucas.repl.co/projects/" style="font-size:20px">Projects<br><br></a><a href="https://scratchbrowser.28klotlucas.repl.co/projects/search" style="font-size:20px">Search Projects<br><br></a>
  <a href="javascript:(match=>open(&quot;https://scratchbrowser.28klotlucas.repl.co/projects/&quot; + match[0]))(location.href.match(/scratch\.mit\.edu\/projects\/(\d+)/)||prompt('Please paste the Scratch project URL or ID to view:').match(/(\d+)/))" style="font-size:20px">Bookmarklet(Drag to bookmarks bar and go to any scratch project and click the bookmark.)</a>
</body>