<html>

<head>
	<link rel="stylesheet" href="https://scratch.mit.edu/common.css" </link>
	<style>
		* {
			box-sizing: border-box;
		}

		.row {
			display: flex;
		}

		.column {
			flex: 33.33%;
			padding: 5px;
		}

		html,
		body {
			background-color: white;

		}
	</style>
	<title>Project List | ScratchBrowser</title>
</head>
<a href="https://scratchbrowser.28klotlucas.repl.co/" style="font-size:20px">Home<br><br></a>
<h3>Most loved:</h3>
<div class="row">
	{% for i in mostloved %}
<div class="column">
<p class="thumbnail-title">{{i["title"]}}<p>
  <a href="https://scratchbrowser.28klotlucas.repl.co/users/{{i["creator"]}}">
  By {{i["creator"]}}
  </a>
<a href="https://scratchbrowser.28klotlucas.repl.co/projects/{{i["id"]}}">
<img src="{{i["thumbnail"]}}" alt="{{i["title"]}}" width="225px" height="165px">
</a>
</div>
{% endfor %}
</div>

<h3>Most remixed:</h3>
<div class="row">
{% for i in mostremixed %}
<div class="column">
<p class="thumbnail-title">{{i["title"]}}<p>
  <a href="https://scratchbrowser.28klotlucas.repl.co/users/{{i["creator"]}}">
  By {{i["creator"]}}
  </a>
<a href="https://scratchbrowser.28klotlucas.repl.co/projects/{{i["id"]}}">
<img src="{{i["thumbnail"]}}" alt="{{i["title"]}}" width="225px" height="165px">
</a>
</div>
{% endfor %}
</div>

<h3>Fun games:</h3>
<div class="row">
{% for i in games %}
<div class="column">
<p class="thumbnail-title">{{i["title"]}}<p>
  <a href="https://scratchbrowser.28klotlucas.repl.co/users/{{i["creator"]}}">
  By {{i["creator"]}}
  </a>
<a href="https://scratchbrowser.28klotlucas.repl.co/projects/{{i["id"]}}">
<img src="{{i["thumbnail"]}}" alt="{{i["title"]}}" width="225px" height="165px">
</a>
</div>
{% endfor %}
</div>

<h3>Recent projects:</h3>
<div class="row">
{% for i in recent %}
<div class="column">
<p class="thumbnail-title">{{i["title"]}}<p>
  <a href="https://scratchbrowser.28klotlucas.repl.co/users/{{i["creator"]}}">
  By {{i["creator"]}}
  </a>
<a href="https://scratchbrowser.28klotlucas.repl.co/projects/{{i["id"]}}">
<img src="{{i["thumbnail"]}}" alt="{{i["title"]}}" width="225px" height="165px">
</a>
</div>
{% endfor %}
</div>

<h3>My projects:</h3>
<div class="row">
{% for i in shamelessplug1 %}
<div class="column">
<p class="thumbnail-title">{{i["title"]}}<p>
<a href="https://scratchbrowser.28klotlucas.repl.co/projects/{{i["id"]}}">
<img src="{{i["thumbnail"]}}" alt="{{i["title"]}}" width="225px" height="165px">
</a>
</div>
{% endfor %}
</div>

<h3>My friend's projects:</h3>
<div class="row">
{% for i in shamelessplug2 %}
<div class="column">
<p class="thumbnail-title">{{i["title"]}}<p>
<a href="https://scratchbrowser.28klotlucas.repl.co/projects/{{i["id"]}}">
<img src="{{i["thumbnail"]}}" alt="{{i["title"]}}" width="225px" height="165px">
</a>
</div>
{% endfor %}
</div>

</div>
</body>

<footer>
 <p style="text-align: center;">Scratch is a project of the Scratch Foundation, in collaboration with the LLK group at the MIT Media Lab, maintained by the Scratch Team. ScratchBrowser is not affiliated, endorsed nor maintained by any of those organizations. Content generated by Scratch users is used under the <a href="https://creativecommons.org/licenses/by-sa/2.0/"style="font-size:20px; letter-spacing: 1px;">Creative Commons Attribution-ShareAlike 2.0 license</a>.</p>
</footer>

</html>