<head>
	<title>{{project["title"]}} | ScratchBrowser</title>
	<link rel="stylesheet" href="https://scratch.mit.edu/common.css" </link>
	<link rel="stylesheet" href="/static/a.css" </link>
</head>

<body>
	<a href="https://scratchbrowser.28klotlucas.repl.co/" style="font-size:20px">Home<br><br></a>
	<h1>{{project["title"]}}{% if engine != 3.0 %}(Outdated){% endif %}</h1>
	<h3>By: <a href="https://scratchbrowser.28klotlucas.repl.co/users/{{project["author"]["username"]}}">{{project["author"]["username"]}}<a> {% if project["remix"]["parent"] %}
		<a href="https://scratchbrowser.28klotlucas.repl.co/projects/{{project["remix"]["parent"]}}">Original<a>
				{% if project["remix"]["parent"] != project["remix"]["root"] %}
				<a href="https://scratchbrowser.28klotlucas.repl.co/projects/{{project["remix"]["root"]}}">Root<a>
						{% endif %} {% endif %}
	</h3>
	<div class="kdjjdsnjds">
		<div>
			<a style="text-align: center;" href="https://scratch.mit.edu/projects/{{projid}}" target="_blank" class="button">View
				on Scratch
			</a>
      <a style="text-align: center;" href="https://scratchbrowser.28klotlucas.repl.co/projects/{{projid}}/remixes?page=1" target="_blank"
			 class="button">View Remixes
			</a>
      {% if engine == 3.0 %}
			<a style="text-align: center;" href="https://scratchbrowser.28klotlucas.repl.co/projects/{{projid}}/play" target="_blank"
			 class="button">Play Project
			</a>
      {% else %}
      <a style="text-align: center;" href="https://scratchbrowser.28klotlucas.repl.co/projects/{{projid}}/play/V2.0" target="_blank"
			 class="button">Play Project
			</a>
      {% endif %}
			<a style="text-align: center;" href="https://sheeptester.github.io/htmlifier/?title={{project["title"]}}&username=ScratchBrowser+User&cloud-ws=wss%3A%2F%2Fclouddata.turbowarp.org&id={{projid}}&start-stop-controls=on&cloud-provider=ws#htmlify"
			 target="_blank" class="button">Download Project
			</a>
      {% if engine == 3.0 %}
      <a style="text-align: center;" href="https://scratchbrowser.28klotlucas.repl.co/projects/{{projid}}/spritesheet/"
			 target="_blank" class="button">View Spritesheet
			</a>
      {% else %}
      <a style="text-align: center; color: grey;"
			 target="_blank" class="button">View Spritesheet
			</a>
      {% endif %}
		</div>
		<p>Views:{{stats["views"]}} Loves:{{stats["loves"]}} Favorites:{{stats["favorites"]}} Remixes:{{stats["remixes"]}} Score:{{stats["score"]}}</p>
		<h2 style="text-align: center;">About:</h2>
		<p style="text-align: center">
			{% for i in project["description"].split("\n") %} {{i}}
			<br>
    {% endfor %}
    </p>
		<h2 style="text-align: center;">How to use:</h2>
		<p style="text-align: center">
    {% for i in project["instructions"].split("\n") %}
		{{i}}<br>
    {% endfor %}
    </p>
	<h2 style="text-align: center;">Tags:</h2>
	{% for i in project["tags"] %}
	<a href="https://scratchbrowser.28klotlucas.repl.co/projects/search?q={{i}}" target="_blank" class="button">#{{i}}
	</a>
	{% endfor %}
  </div>
  <p style="text-align: center;">Scratch is a project of the Scratch Foundation, in collaboration with the LLK group at the MIT Media Lab, maintained by the Scratch Team. ScratchBrowser is not affiliated, endorsed nor maintained by any of those organizations. Content generated by Scratch users is used under the <a href="https://creativecommons.org/licenses/by-sa/2.0/"style="font-size:20px; letter-spacing: 1px;">Creative Commons Attribution-ShareAlike 2.0 license</a>.</p>
  {% if projid == "600000000" %}
  <embed src="/static/YAY.mp3" loop="true" autostart="true" width="2" height="0">
  {% endif %}
</body>